<div class="container">
	<div class="row">
		<form>
		  <div class="form-group">
		    <label for="formGroupExampleInput">Username</label>
		    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" #username>
		  </div>
		  <div class="form-group">
		    <label for="formGroupExampleInput2">Password</label>
		    <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Another input" #password>
		  </div>
		  <button type="submit" class="btn btn-primary" (click)="login( username.value, password.value); username.value=''; password.value=''">Login</button>
		</form>
	</div>
</div>
