<md-grid-list cols="2">
	<md-grid-tile *ngFor="let face of images">
   		<md-card class="example-card">
     		<md-card-header>
        		<div md-card-avatar class="example-header-image"></div>
        		<md-card-title><h2>{{face}}</h2></md-card-title>
      		</md-card-header>
      		<!-- Tracker component-->
      		<tracker-component [imageName]="face" (returnFaceId)="setFaceId($event)"></tracker-component>
      		<md-card-content>
        		<p>{{face}} face of the cube.</p>
      		</md-card-content>
    	</md-card>
	</md-grid-tile>
</md-grid-list>
<button md-raised-button (click)="resolveCube()">Procesar imágenes!</button>
<div *ngIf="result">
<response-component [response]="result" [state]="state" [colors]="colorsPerFaces"></response-component>
<!--{{result | json}}-->
</div>